h1 {
    text-align:center;
}

form { 
    margin-left: 15%;
    margin-right: 15%;
    width: 75%;
}

.box input {
    margin-left: 25%;
    margin-right: 25%;
    width: 300px;
}

.btn {
    width: 140px;
    margin-left: 20%;
    margin-right: 20%;
}

.box {
    background-color: whitesmoke;
    margin-left: 25%;
    margin-right: 25%;
}