h2 {
    color: black;
}

p {
    color:black;
}

section {
    background-color: white;
}

.user-date {
    text-align: left;
    margin-bottom: 10px;
}

.comment {
    text-align: left;
}

.user-date button{
    float: right;
}

.reply-btn {
    background: none;
    border: none;
}

.reply-btn #label {
    color: rgb(163, 158, 158);
}

.reply-list {
    margin-left:5%;
}

.reply-user-date {
    margin-bottom: 10px;
}

.delete-btn {
    float: right;
    background: none;
    border: none;
}

.delete-btn #label {
    color: rgb(163, 158, 158);
}