h2 {
    color: black;
}

p {
    color:black;
}

section {
    background-color: white;
}

.user-date {
    text-align: left;
    margin-bottom: 10px;
}

.comment {
    text-align: left;
}

.user-date button{
    float:right;
}