.navbar {
  background-color: aliceblue !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-around !important;

  padding: 24px !important;
  margin: auto !important;
  /* min-height: 200px; */
  /* min-width: 1000px; */
  /* max-width: fit-content; */
  /* max-height: fit-content; */

  /* text-align: center; */
  width: auto !important;
  position: sticky !important;
  top:0 !important;
  z-index: 1 !important;
}
